// Color Brandsing
$primary-color-1: #00AD7F;
$primary-color-2: #3E7D6E;
$primary-color-3: #2CC295;  // Main Green for dark themes

$secondary-color-1: #ad8a68;
$secondary-color-2: #dfe0df;
$secondary-color-3: #fff8ee;

$light-color-1: #FFFFFF;
$light-color-2: #EFEFEF;
$light-color-3: #D9D9D9;

$dark-color-1: #090909;
$dark-color-1: #171717;
$dark-color-1: #565856;


// Primary Black Shades
$black-100: #1A1A1A; // Deep Black (Primary Black)
$black-90: #222222;  // Slightly lighter black for backgrounds
$black-80: #2B2B2B;  // Dark UI Panels
$black-70: #333333;  // Elevated UI Cards
$black-60: #404040;  // Modal Backgrounds
$black-50: #555555;  // Low Contrast Text
$black-40: #666666;  // Secondary Text
$black-30: #808080;  // Disabled Text
$black-20: #A0A0A0;  // Borders & Dividers
$black-10: #C0C0C0;  // Placeholder Text
$black-5: #E0E0E0;   // Very Light Gray (For subtle elements)
$black-1: #EFEFEF


// Font Styles