// Import default styles
@import "variables";
@import '../fonts/stylesheet.css';

.analytics-page {
    width: 100%;
    height: 100%;
    display: flex;

    .content-section {
        display: flex;
        flex: 1;
        gap: 1em;

        #filter-section{
            transition: display 2s ease-in-out, opacity 0.2s ease-in-out;
        }

        .left-content {
            display: flex;
            flex: 2;
            flex-direction: column;
            padding: 0.5em;           

            // GENERAL DESIGN FOR EACH TYPE OF FILTERS
            .dropdown-ctn{
                .double-dropdown{
                    display: flex;
                    flex-direction: rows;
                    gap: 0.5em;

                    .dropdown-opt-box{
                        flex: 1;
                    }
                }

                .dropdown-opt-box{
                    padding-bottom: 0.5em;
                    .label{
                        padding-bottom: 0.25em;
    
                    }
                }
            }


            // SPECIFIC PRIMARY STYLES
            #primary-wrap{
                box-sizing: border-box;
                padding-bottom: 1em;

                .primary-tags{
                    padding-bottom: 1em;
                }
                
                #filter-options{
                    padding: 0em 1.5em;

                    #Location-based-filter{
                        .secondary-options{

                        }
                    }
                }
            }

            // SPECIFIC SECONDARY STYLES
            #secondary-wrap{
                padding: 0.5em 0em;
            }

            // SPECIFIC BUTTON CHARTS STYLES
            .confirmation-box{
                display: flex;
                gap: 0.75em;
                justify-content: flex-end; 

                button{
                    padding: 1em 2em;
                    border: 0;
                    border-radius: 2em;
                    font-size: 1;
                    font-family: 'Inter Medium';
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }

                #proceed-btn{
                    background-color: $primary-color-1;
                    color: $black-1;
                }
                #proceed-btn:hover{
                    background-color: $primary-shades-4;
                }
                #proceed-btn:active{
                    background-color: $primary-shades-6;
                }
                
                #addons-btn{
                    background-color: $black-5;
                }
                #addons-btn:hover{
                    background-color: $black-10;
                }
                #addons-btn:active{
                    background-color: $black-1;
                }
            }
        }

        .right-content {
            display: flex;
            flex-direction: column;
            flex: 1;

            #plot-content{
                display: flex;
                padding: 0.5em 0em;
                flex: 1;

                #placeholder{
                    text-align: center;
                    background-color: $light-color-1;
                    border-radius: 1em;
                    color: $black-20;
                    
                    display: flex;
                    align-items: center;
                    flex: 1;
    
                    transition: background-color 0.8s ease-in-out, opacity 0.8s ease-in-out;
                    
                    h2{
                        margin: auto;
                        transition: color 0.5s ease-in-out
                    }
                }
            }


            #plot-content.rendered{
                display: flex;
                flex: 1;

                // RENDER PLOTS
                #placeholder{
                    display: none;
                }

                #plot-filtered-page{
                    display: flex;
                    padding: 0em 1em;
                    flex: 1;

                    .render-plot{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                    }
                }
            }
        }
    }
}