// Import default styles
@import "variables";
@import '../fonts/stylesheet.css';


// Reset default stylings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Medium';
}
body{
    background-color: $white;
}


// App Main Container - Stylings
.app-container{
    min-height: 100vh;
    background-color: $bluish-white;
    // max-width: 120em; // not final
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    // justify-content: center;
    overflow: hidden;

    // Side Navigations:
    .navigation{
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 18em; // not final
        height: 100vh;

        background-color: $white;
        // box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2); 
        box-shadow: -2px 0px 14px 0px #0000001A;
        // flex-shrink: 0; 
        position: fixed;   
        z-index: 1; 

        .brand-section{
            margin-bottom: 1em;
            text-align: center;
            
            display: flex;
            align-items: center;
            justify-content: center;
            height: 6em;
            
            h2{
                color: $primary-color-1;
            }
        }

        .menu-section{
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1em;

            .item-ctn{
                display: flex;
                flex-direction: column;
                
                .main-tab{
                    flex: 1;
                    .indicator{
                        width:0.5em;
                        height: 3em;
                        border-top-right-radius: 0.5em;
                        border-bottom-right-radius: 0.5em;
    
                        background-color: $primary-color-1;
                        position: absolute;
                        left: 0;
                    }
    
                    // Actual Button Stylings
                    .nav-btn{
                        // display: none;
                        width: 15em;
                        height: 3em;
                        padding: 0.5em 1em;
                        margin: 0 auto;
                        border-radius: 0.5em;
                        
                        text-decoration: none;
                        user-select: none;
                        
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        
                        .icon{
                            display: flex;
                            align-self: center;
                            
                            img{
                                width: 1.5em;
                                height: 1.5em;
                            }
                        }
                        .text{
                            padding-left: 1em;
                            color: $primary-color-1;
                            
                            display: flex;
                            align-self: center;
                            font-size: 1em;
                        }
                    }
                }
            }

            .item-ctn.active{
                .nav-btn{
                    background-color: $primary-color-1;
    
                    .icon.dark{
                        display: none;
                    }
                    .icon.light{
                        display: flex;
                    }
                    .text{
                        color: $white;
                    }
                }

                .tabs-menu{
                    flex: 1;
                    display: flex;
                    justify-content: center;

                    width: 100%;
                    padding: 1em;
                    padding-bottom: 0em;
                    
                    .tabs-menu-ctn{
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;
                        width: 11em;
                        
                        .tab-btn{
                            user-select: none;
                            cursor: pointer;
                            
                            display: flex;
                            gap: 0.75em;

                            img{
                                width: 1.25em;
                                height: 1.25em;
                            }
                            a{
                                align-self: center;
                                color: $text-color-1;
                            }
                        }

                        .tab-btn.active{
                            pointer-events: none;

                            a{
                                color: $primary-color-1;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            
            .item-ctn:not(.active){

                .indicator{
                    display: none;
                }

                .nav-btn{
                    .icon.dark{
                        display: flex;
                    }
                    .icon.light{
                        display: none;
                    }
                }

                .tabs-menu{
                    display: none;
                }
            }

            .item-ctn:not(.active):hover{
                .nav-btn{
                    background-color: $off-white;
                    cursor: pointer;
                }
            }
        }

        .settings-section{
            display: flex;
            flex-direction: column;
            gap: 1em;
            bottom: 0;
            padding-bottom: 1em;

            #opt-2{     // Temporarily 
                display: none;
                visibility: none;
            }

            .item-ctn{
                display: flex;
                flex-direction: row;

                .indicator{
                    width:0.5em;
                    height: 3em;
                    border-top-right-radius: 0.5em;
                    border-bottom-right-radius: 0.5em;

                    background-color: $primary-color-1;
                }

                // Actual Button Stylings
                .nav-btn{
                    // display: none;
                    width: 15em;
                    height: 3em;
                    padding: 0.5em 1em;
                    margin: 0 auto;
                    border-radius: 0.5em;
                    
                    text-decoration: none;
                    user-select: none;
    
                    display: flex;
                    align-items: center;
                    flex-direction: row;
    
                    .icon{
                        display: flex;
                        align-self: center;
                        
                        img{
                            width: 1.5em;
                            height: 1.5em;
                        }
                    }
                    .text{
                        padding-left: 1em;
                        color: $primary-color-1;
                        
                        display: flex;
                        align-self: center;
                        font-size: 1em;
                    }
                }
            }

            .item-ctn.active{
                .nav-btn{
                    background-color: $primary-color-1;
    
                    .icon.dark{
                        display: none;
                    }
                    .icon.light{
                        display: flex;
                    }
                    .text{
                        color: $white;
                    }
                }
            }

            .item-ctn:not(.active){
                margin-left: 0.5em;

                .indicator{
                    display: none;
                }

                .nav-btn{
                    .icon.dark{
                        display: flex;
                    }
                    .icon.light{
                        display: none;
                    }
                }
            }

            .item-ctn:not(.active):hover{
                .nav-btn{
                    background-color: $off-white;
                    cursor: pointer;
                }
            }
        }

        .account-section{
            margin-top: 0.5em;
            margin-bottom: 2em;

            .ctn{
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0.5em 1em;
                background-color: $bluish-white;
                border-radius: 0.5em;
                width: 16em;

                .display-picture{
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    padding-right: 0.5em;
                    img {
                        width: 3em;
                        height: 3em;
                        border-radius: 50%; /* Makes it circular */
                        object-fit: cover;
                    }
                }
                .details{
                    flex: 1;
                    color: $text-color-1;
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    .email{
                        font-size: 0.75em;
                    }
                }
                .more-btn{
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    width: 1.5em;
                    cursor: pointer;
                }
            }
        }
    }
    
    // Contents
    .content-wrapper{
        padding: 1em;
        margin: 0em 1em;
        margin-right: 0em;
        // min-height: 60em;
        
        display: flex;
        flex: 1;
        background-color: $bluish-white;
        border-radius: 1.5em 0em 0em 1.5em;
        // overflow-y: auto;

        > div:first-of-type {
            flex: 1;
            > div:first-of-type {
                height: 100%;   

                .container{
                    display: flex;
                    flex-direction: column;
                    max-width: 120em; // not final
                    margin: 0 auto;

                    .content{
                        display: flex;
                        flex: 1;

                    }
                    .page-header{
                        padding: 1em 1em;
                        h1{
                            color: $primary-color-1;
                        }
                    }
                }
            }
        }
    }
}
