// Import default styles
@import "variables";
@import '../fonts/stylesheet.css';


.home-page{
    width: 100%;
    height: 100%;
    display: flex;

    .main-section{
        // background-color: red;
        width: 300px;

        display: flex;
        flex-direction: column;
        flex: 2;

        .layer-1{
            flex: 1;
            display: flex;
            padding: 0.5em;

            .area-1{
                flex: 2;

                .header{
                    font-family: 'Inter Semi Bold';
                    font-size: 1.2em;
                    color: $dark-color-3;
                    padding-left: 0.5em;
                }
                .graph{
                    flex: 1;
                }
            }
            .area-2{
                display: flex;
                flex-direction: column;
                gap: 1em;
                flex: 1;

                .loc-1{
                    flex: 1;

                    .display{
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        gap: 0.25em;
                        color: $primary-color-1;

                        .indicator-display{
                            display: flex;
                            align-self: center;
                            img{
                                width: 3.5em;
                            }
                        }
                        .indicator{
                            display: flex;
                            align-self: center;
                            font-size: 1.5em;
                        }
                    }
                    .details{
                        font-family: 'Inter Semi Bold';
                        text-align: center;
                        color: $dark-color-3;
                    }
                }

                .loc-2{
                    display: flex;
                    flex: 1;
                    gap: 2em;
                    color: $primary-color-2;

                    .upper{
                        flex: 1;
                        
                        .display{
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            

                            .indicator-display{
                                display: flex;
                                align-self: center;
                                img{
                                    width: 3em;
                                }
                            }
                            .indicator{
                                flex: 1;
                                display: flex;
                                align-self: center;
                                justify-content: right;
                                font-size: 1.25em;
                            }
                        }
                    }
                    .lower{
                        flex: 1;

                        
                        .display{
                            flex: 1;
                            display: flex;
                            flex-direction: row-reverse;

                            .indicator-display{
                                display: flex;
                                align-self: center;
                                img{
                                    width: 3em;
                                }
                            }
                            .indicator{
                                flex: 1;
                                display: flex;
                                align-self: center;
                                font-size: 1.25em;
                            }
                        }
                    }
                }
            }
        }
        .layer-2{
            flex: 1;
            padding: 0.5em;
        }
    }

    .side-section{
        // background-color: blue;
        width: 300px;

        display: flex;
        flex-direction: column;
        flex: 1;

        .layer-1{
            flex: 1;
            padding: 0.5em;

            .header{
                font-family: 'Inter Semi Bold';
                font-size: 1.2em;
                color: $dark-color-3;
                padding-left: 0.5em;
            }
            .graph{
                flex: 1;
            }
        }
        
        .layer-2{
            flex: 1;
            padding: 0.5em;
        }
    }
}

// .card{
//     background-color: $light-color-2;
//     width: inherit;
//     height: 100%;
//     flex: 1;
//     box-sizing: content-box;

//     border-radius: 1em;
//     box-shadow:  5px 5px 11px #ead7dd,
//                 -5px -5px 11px #fffdff;
// }