// Import default styles
@import "variables";
@import '../fonts/stylesheet.css';

.school-level-page {
    width: 100%;
    height: 100%;
    display: flex;

    .page-header {
        // display: flex;
        // flex-direction: row;
        // align-items: baseline;
        // justify-content: space-between;

        .search-bar {
            display: flex;
            height: 2em;
            align-items: center;
            background-color: $white;
            border-color: $primary-color-1;
            border-radius: 0.75em;
            justify-content: space-evenly;
            width: 450px;
            
            .search-icon {
                display: flex;
                background-color: transparent;
                justify-content: center;
                align-items: center;
                padding: 0px 8px;
    
                img {
                    width: 18px;
                    height: 18px;
                }
            }
    
            .search-input {
                width: 80%;
                height: 100%;
                border: none;
            }

            input::placeholder {
                font-family: "Inter Regular";
                color: #b6b6b6;
            }

    
            .clear-button {
                display: flex;
                background-color: transparent;
                justify-content: center;
                align-items: center;
                padding: 0px 8px;
    
                img {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    .buttons-level {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1em;
        gap: 1em;

        .gray-1, .gray-2, .gray-3, .filter-icon {
            display: flex;
            background-color: $primary-shades-10;
            border-radius: 4px;
            padding: 5px;
            justify-content: center;
            align-items: center;
        }

        .gray-1 {
            width: 140px;
        }

        .gray-2 {
            width: 60px;
        }

        .gray-3 {
            background-color: $primary-color-3;
            width: 40px;
        }

        .filter-icon {
            background-color: transparent;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;

        .main-content {
            width: 900px;
            display: flex;
            flex-direction: column;
            flex: 1;
    
            .si-layer-1{
                flex: 1;
                display: flex;
                padding: 0.5em;
    
                .card-1{
                    flex: 1;
                }
            }
    
            .si-layer-2 {
                flex: 2;
                display: flex;
                padding: 0.5em;
    
                .card-2{
                    flex: 1;
                }
    
                .card-3{
                    flex: 1;
                }
            }
        }
    
        .side-content {
            width: 280px;
            display: flex;
    
            .si-layer-1 {
                flex: 2;
                display: flex;
                padding: 0.5em;
    
                .card-4 {
                    flex: 1;
                }
            }
        }
    }
}