@import '../fonts/stylesheet.css';
.analytics-page {
  width: 100%;
  height: 100%;
  display: flex;
}
.analytics-page .content-section {
  display: flex;
  flex: 1;
  gap: 1em;
}
.analytics-page .content-section #filter-section {
  transition: display 2s ease-in-out, opacity 0.2s ease-in-out;
}
.analytics-page .content-section .left-content {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 0.5em;
}
.analytics-page .content-section .left-content .dropdown-ctn .double-dropdown {
  display: flex;
  flex-direction: rows;
  gap: 0.5em;
}
.analytics-page .content-section .left-content .dropdown-ctn .double-dropdown .dropdown-opt-box {
  flex: 1;
}
.analytics-page .content-section .left-content .dropdown-ctn .dropdown-opt-box {
  padding-bottom: 0.5em;
}
.analytics-page .content-section .left-content .dropdown-ctn .dropdown-opt-box .label {
  padding-bottom: 0.25em;
}
.analytics-page .content-section .left-content #primary-wrap {
  box-sizing: border-box;
  padding-bottom: 1em;
}
.analytics-page .content-section .left-content #primary-wrap .primary-tags {
  padding-bottom: 1em;
}
.analytics-page .content-section .left-content #primary-wrap #filter-options {
  padding: 0em 1.5em;
}
.analytics-page .content-section .left-content #secondary-wrap {
  padding: 0.5em 0em;
}
.analytics-page .content-section .left-content .confirmation-box {
  display: flex;
  gap: 0.75em;
  justify-content: flex-end;
}
.analytics-page .content-section .left-content .confirmation-box button {
  padding: 1em 2em;
  border: 0;
  border-radius: 2em;
  font-size: 1;
  font-family: "Inter Medium";
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.analytics-page .content-section .left-content .confirmation-box #proceed-btn {
  background-color: #04508c;
  color: #EFEFEF;
}
.analytics-page .content-section .left-content .confirmation-box #proceed-btn:hover {
  background-color: #0674C8;
}
.analytics-page .content-section .left-content .confirmation-box #proceed-btn:active {
  background-color: #033962;
}
.analytics-page .content-section .left-content .confirmation-box #addons-btn {
  background-color: #E0E0E0;
}
.analytics-page .content-section .left-content .confirmation-box #addons-btn:hover {
  background-color: #C0C0C0;
}
.analytics-page .content-section .left-content .confirmation-box #addons-btn:active {
  background-color: #EFEFEF;
}
.analytics-page .content-section .right-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.analytics-page .content-section .right-content #plot-content {
  display: flex;
  padding: 0.5em 0em;
  flex: 1;
}
.analytics-page .content-section .right-content #plot-content #placeholder {
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 1em;
  color: #A0A0A0;
  display: flex;
  align-items: center;
  flex: 1;
  transition: background-color 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
.analytics-page .content-section .right-content #plot-content #placeholder h2 {
  margin: auto;
  transition: color 0.5s ease-in-out;
}
.analytics-page .content-section .right-content #plot-content.rendered {
  display: flex;
  flex: 1;
}
.analytics-page .content-section .right-content #plot-content.rendered #placeholder {
  display: none;
}
.analytics-page .content-section .right-content #plot-content.rendered #plot-filtered-page {
  display: flex;
  padding: 0em 1em;
  flex: 1;
}
.analytics-page .content-section .right-content #plot-content.rendered #plot-filtered-page .render-plot {
  display: flex;
  flex-direction: column;
  flex: 1;
}/*# sourceMappingURL=analytics.css.map */