@import '../fonts/stylesheet.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Medium";
}

body {
  background-color: #EFF3F6;
}

.app-container {
  min-height: 100vh;
  background-color: #EFF3F6;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.app-container .navigation {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 18em;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: -2px 0px 14px 0px rgba(0, 0, 0, 0.1019607843);
  position: fixed;
}
.app-container .navigation .brand-section {
  margin-bottom: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6em;
}
.app-container .navigation .brand-section h2 {
  color: #090909;
}
.app-container .navigation .menu-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
.app-container .navigation .menu-section .item-ctn {
  display: flex;
  flex-direction: column;
}
.app-container .navigation .menu-section .item-ctn .main-tab {
  flex: 1;
}
.app-container .navigation .menu-section .item-ctn .main-tab .indicator {
  width: 0.5em;
  height: 3em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #04508c;
  position: absolute;
  left: 0;
}
.app-container .navigation .menu-section .item-ctn .main-tab .nav-btn {
  width: 15em;
  height: 3em;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.app-container .navigation .menu-section .item-ctn .main-tab .nav-btn .icon {
  display: flex;
  align-self: center;
}
.app-container .navigation .menu-section .item-ctn .main-tab .nav-btn .icon img {
  width: 1.5em;
  height: 1.5em;
}
.app-container .navigation .menu-section .item-ctn .main-tab .nav-btn .text {
  padding-left: 1em;
  color: #04508c;
  display: flex;
  align-self: center;
  font-size: 1em;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn {
  background-color: #04508c;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn .icon.dark {
  display: none;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn .icon.light {
  display: flex;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn .text {
  color: #FFFFFF;
}
.app-container .navigation .menu-section .item-ctn.active .tabs-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
  padding-bottom: 0em;
}
.app-container .navigation .menu-section .item-ctn.active .tabs-menu .tabs-menu-ctn {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 11em;
}
.app-container .navigation .menu-section .item-ctn.active .tabs-menu .tabs-menu-ctn .tab-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  gap: 0.75em;
}
.app-container .navigation .menu-section .item-ctn.active .tabs-menu .tabs-menu-ctn .tab-btn img {
  width: 1.25em;
  height: 1.25em;
}
.app-container .navigation .menu-section .item-ctn.active .tabs-menu .tabs-menu-ctn .tab-btn a {
  align-self: center;
  color: #0674C8;
}
.app-container .navigation .menu-section .item-ctn.active .tabs-menu .tabs-menu-ctn .tab-btn.active a {
  font-weight: bold;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .indicator {
  display: none;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .nav-btn .icon.dark {
  display: flex;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .nav-btn .icon.light {
  display: none;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .tabs-menu {
  display: none;
}
.app-container .navigation .menu-section .item-ctn:not(.active):hover .nav-btn {
  background-color: #EFEFEF;
  cursor: pointer;
}
.app-container .navigation .settings-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  padding-bottom: 1em;
}
.app-container .navigation .settings-section #opt-2 {
  display: none;
  visibility: none;
}
.app-container .navigation .settings-section .item-ctn {
  display: flex;
  flex-direction: row;
}
.app-container .navigation .settings-section .item-ctn .indicator {
  width: 0.5em;
  height: 3em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #04508c;
}
.app-container .navigation .settings-section .item-ctn .nav-btn {
  width: 15em;
  height: 3em;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.app-container .navigation .settings-section .item-ctn .nav-btn .icon {
  display: flex;
  align-self: center;
}
.app-container .navigation .settings-section .item-ctn .nav-btn .icon img {
  width: 1.5em;
  height: 1.5em;
}
.app-container .navigation .settings-section .item-ctn .nav-btn .text {
  padding-left: 1em;
  color: #04518C;
  display: flex;
  align-self: center;
  font-size: 1em;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn {
  background-color: #04508c;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn .icon.dark {
  display: none;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn .icon.light {
  display: flex;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn .text {
  color: #FFFFFF;
}
.app-container .navigation .settings-section .item-ctn:not(.active) {
  margin-left: 0.5em;
}
.app-container .navigation .settings-section .item-ctn:not(.active) .indicator {
  display: none;
}
.app-container .navigation .settings-section .item-ctn:not(.active) .nav-btn .icon.dark {
  display: flex;
}
.app-container .navigation .settings-section .item-ctn:not(.active) .nav-btn .icon.light {
  display: none;
}
.app-container .navigation .settings-section .item-ctn:not(.active):hover .nav-btn {
  background-color: #EFEFEF;
  cursor: pointer;
}
.app-container .navigation .account-section {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.app-container .navigation .account-section .ctn {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: #EFF3F6;
  border-radius: 0.5em;
  width: 16em;
}
.app-container .navigation .account-section .ctn .display-picture {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 0.5em;
}
.app-container .navigation .account-section .ctn .display-picture img {
  width: 3em;
  height: 3em;
  border-radius: 50%; /* Makes it circular */
  -o-object-fit: cover;
     object-fit: cover;
}
.app-container .navigation .account-section .ctn .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.app-container .navigation .account-section .ctn .details .email {
  font-size: 0.75em;
}
.app-container .navigation .account-section .ctn .more-btn {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1.5em;
  cursor: pointer;
}
.app-container .content-wrapper {
  padding: 1em;
  margin: 0em 1em;
  margin-right: 0em;
  margin-left: 18em;
  display: flex;
  flex: 1;
  background-color: #EFF3F6;
  border-radius: 1.5em 0em 0em 1.5em;
  overflow-y: auto;
}
.app-container .content-wrapper > div:first-of-type {
  flex: 1;
}
.app-container .content-wrapper > div:first-of-type > div:first-of-type {
  height: 100%;
}
.app-container .content-wrapper > div:first-of-type > div:first-of-type .container {
  display: flex;
  flex-direction: column;
  max-width: 120em;
  margin: 0 auto;
}
.app-container .content-wrapper > div:first-of-type > div:first-of-type .container .content {
  display: flex;
  flex: 1;
}
.app-container .content-wrapper > div:first-of-type > div:first-of-type .container .page-header {
  padding: 1em 1em;
}
.app-container .content-wrapper > div:first-of-type > div:first-of-type .container .page-header h1 {
  color: #04518C;
}/*# sourceMappingURL=app.css.map */