* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans MT";
}

body {
  background-color: #EFEFEF;
}

.app-container {
  min-height: 100vh;
  background-color: #EFEFEF;
  max-width: 120em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.app-container .navigation {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 18em;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); /* Right shadow */
}
.app-container .navigation .brand-section {
  margin-bottom: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6em;
}
.app-container .navigation .brand-section h2 {
  color: #03624C;
}
.app-container .navigation .menu-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
.app-container .navigation .menu-section .item-ctn {
  display: flex;
  flex-direction: row;
}
.app-container .navigation .menu-section .item-ctn .indicator {
  width: 0.5em;
  height: 3em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #00AD7F;
  position: absolute;
  left: 0;
}
.app-container .navigation .menu-section .item-ctn .nav-btn {
  width: 15em;
  height: 3em;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.app-container .navigation .menu-section .item-ctn .nav-btn .icon {
  display: flex;
  align-self: center;
}
.app-container .navigation .menu-section .item-ctn .nav-btn .icon img {
  width: 1.5em;
  height: 1.5em;
}
.app-container .navigation .menu-section .item-ctn .nav-btn .text {
  padding-left: 1em;
  color: #6EA99A;
  display: flex;
  align-self: center;
  font-size: 1.15em;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn {
  background-color: #00AD7F;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn .icon.dark {
  display: none;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn .icon.light {
  display: flex;
}
.app-container .navigation .menu-section .item-ctn.active .nav-btn .text {
  color: #FFFFFF;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .indicator {
  display: none;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .nav-btn .icon.dark {
  display: flex;
}
.app-container .navigation .menu-section .item-ctn:not(.active) .nav-btn .icon.light {
  display: none;
}
.app-container .navigation .menu-section .item-ctn:not(.active):hover .nav-btn {
  background-color: #EFEFEF;
  cursor: pointer;
}
.app-container .navigation .settings-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  padding-bottom: 1em;
}
.app-container .navigation .settings-section .item-ctn {
  display: flex;
  flex-direction: row;
}
.app-container .navigation .settings-section .item-ctn .indicator {
  width: 0.5em;
  height: 3em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #00AD7F;
}
.app-container .navigation .settings-section .item-ctn .nav-btn {
  width: 15em;
  height: 3em;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.app-container .navigation .settings-section .item-ctn .nav-btn .icon {
  display: flex;
  align-self: center;
}
.app-container .navigation .settings-section .item-ctn .nav-btn .icon img {
  width: 1.5em;
  height: 1.5em;
}
.app-container .navigation .settings-section .item-ctn .nav-btn .text {
  padding-left: 1em;
  color: #6EA99A;
  display: flex;
  align-self: center;
  font-size: 1.15em;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn {
  background-color: #00AD7F;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn .icon.dark {
  display: none;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn .icon.light {
  display: flex;
}
.app-container .navigation .settings-section .item-ctn.active .nav-btn .text {
  color: #FFFFFF;
}
.app-container .navigation .settings-section .item-ctn:not(.active) {
  margin-left: 0.5em;
}
.app-container .navigation .settings-section .item-ctn:not(.active) .indicator {
  display: none;
}
.app-container .navigation .settings-section .item-ctn:not(.active) .nav-btn .icon.dark {
  display: flex;
}
.app-container .navigation .settings-section .item-ctn:not(.active) .nav-btn .icon.light {
  display: none;
}
.app-container .navigation .settings-section .item-ctn:not(.active):hover .nav-btn {
  background-color: #EFEFEF;
  cursor: pointer;
}
.app-container .navigation .account-section {
  margin-bottom: 1.5em;
}
.app-container .navigation .account-section .ctn {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: #EFEFEF;
  border-radius: 0.5em;
  width: 16em;
}
.app-container .navigation .account-section .ctn .display-picture {
  padding-right: 0.5em;
}
.app-container .navigation .account-section .ctn .display-picture img {
  width: 3em;
  height: 3em;
}
.app-container .navigation .account-section .ctn .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.app-container .navigation .account-section .ctn .details .email {
  font-size: 0.75em;
}
.app-container .content-wrapper {
  padding: 1em;
  margin: 0em 1em;
  margin-right: 0em;
  display: flex;
  flex: 1;
  background-color: #EFEFEF;
  border-radius: 1.5em 0em 0em 1.5em;
}
.app-container .content-wrapper > div:first-of-type {
  flex: 1;
}
.app-container .content-wrapper > div:first-of-type > div:first-of-type {
  height: 100%;
}/*# sourceMappingURL=app.css.map */