@import '../fonts/stylesheet.css';
.home-page {
  width: 100%;
  height: 100%;
  display: flex;
}
.home-page .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
  padding: 1em;
}
.home-page .content .upper-content {
  display: flex;
  flex: 1.25;
  gap: 1em;
}
.home-page .content .upper-content .national-snapshot {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  gap: 0.5em;
}
.home-page .content .upper-content .national-snapshot .ns-info-cards {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .upper-content .national-snapshot .ns-info-cards .ns-info {
  display: flex;
  flex: 1;
}
.home-page .content .upper-content .national-snapshot .ns-info-cards .ns-info:first-child {
  flex: 1.5;
}
.home-page .content .upper-content .national-snapshot .ns-graph {
  display: flex;
  flex: 2;
}
.home-page .content .upper-content .grade-level-dynamics {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .upper-content .grade-level-dynamics .gld-content {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .upper-content .grade-level-dynamics .gld-content .gld-graph {
  display: flex;
  flex: 2.25;
}
.home-page .content .upper-content .grade-level-dynamics .gld-content .gld-info-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .upper-content .grade-level-dynamics .gld-content .gld-info-cards .gld-info {
  display: flex;
  flex: 1;
}
.home-page .content .lower-content {
  display: flex;
  flex: 1;
  gap: 2em;
}
.home-page .content .lower-content .learner-profiles {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .lower-content .learner-profiles .lp-content {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .lower-content .learner-profiles .lp-content .lp-graph-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .lower-content .learner-profiles .lp-content .lp-graph-1 .lp-graph {
  display: flex;
  flex: 1.5;
}
.home-page .content .lower-content .learner-profiles .lp-content .lp-graph-1 .lp-info-cards {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .lower-content .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-info {
  display: flex;
  flex: 1;
}
.home-page .content .lower-content .learner-profiles .lp-content .lp-graph-2 {
  display: flex;
  flex: 1;
}
.home-page .content .lower-content .school-system-composition {
  display: flex;
  flex-direction: column;
  flex: 1.4;
  gap: 0.5em;
}
.home-page .content .lower-content .school-system-composition .ssc-content {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-1 {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  gap: 0.5em;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-1 .ssc-info-graph {
  display: flex;
  flex: 1.5;
  gap: 0.5em;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-1 .ssc-info-graph .ssc-info {
  display: flex;
  flex: 1;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-1 .ssc-info-graph .ssc-graph {
  display: flex;
  flex: 1.5;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-1 .ssc-info-graph .ssc-graph .graph {
  flex: 1;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-1 .ssc-table {
  display: flex;
  flex: 2;
}
.home-page .content .lower-content .school-system-composition .ssc-content .ssc-content-2 {
  display: flex;
  flex: 1;
}/*# sourceMappingURL=home.css.map */