.home-page {
  width: 100%;
  height: 100%;
  display: flex;
}
.home-page .main-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 2;
}
.home-page .main-section .layer-1 {
  flex: 1;
  display: flex;
  padding: 0.5em;
}
.home-page .main-section .layer-1 .area-1 {
  flex: 2;
}
.home-page .main-section .layer-1 .area-1 .header {
  font-size: 1.2em;
  color: #565856;
  padding-left: 0.5em;
}
.home-page .main-section .layer-1 .area-1 .graph {
  flex: 1;
}
.home-page .main-section .layer-1 .area-2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}
.home-page .main-section .layer-1 .area-2 .loc-1 {
  flex: 1;
}
.home-page .main-section .layer-1 .area-2 .loc-1 .display {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  color: #00AD7F;
}
.home-page .main-section .layer-1 .area-2 .loc-1 .display .indicator-display {
  display: flex;
  align-self: center;
}
.home-page .main-section .layer-1 .area-2 .loc-1 .display .indicator-display img {
  width: 3.5em;
}
.home-page .main-section .layer-1 .area-2 .loc-1 .display .indicator {
  display: flex;
  align-self: center;
  font-size: 1.5em;
}
.home-page .main-section .layer-1 .area-2 .loc-1 .details {
  text-align: center;
  color: #565856;
}
.home-page .main-section .layer-1 .area-2 .loc-2 {
  display: flex;
  flex: 1;
  gap: 2em;
  color: #3E7D6E;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .upper {
  flex: 1;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .upper .display {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .upper .display .indicator-display {
  display: flex;
  align-self: center;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .upper .display .indicator-display img {
  width: 3em;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .upper .display .indicator {
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: right;
  font-size: 1.25em;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .lower {
  flex: 1;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .lower .display {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .lower .display .indicator-display {
  display: flex;
  align-self: center;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .lower .display .indicator-display img {
  width: 3em;
}
.home-page .main-section .layer-1 .area-2 .loc-2 .lower .display .indicator {
  flex: 1;
  display: flex;
  align-self: center;
  font-size: 1.25em;
}
.home-page .main-section .layer-2 {
  flex: 1;
  padding: 0.5em;
}
.home-page .side-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home-page .side-section .layer-1 {
  flex: 1;
  padding: 0.5em;
}
.home-page .side-section .layer-1 .header {
  font-size: 1.2em;
  color: #565856;
  padding-left: 0.5em;
}
.home-page .side-section .layer-1 .graph {
  flex: 1;
}
.home-page .side-section .layer-2 {
  flex: 1;
  padding: 0.5em;
}/*# sourceMappingURL=home.css.map */