@import '../fonts/stylesheet.css';
.home-page {
  width: 100%;
  height: 100%;
  display: flex;
}
.home-page .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
  padding: 1em;
}
.home-page .content .section_title {
  color: #3C6382;
}
.home-page .content .overview-layer-1 {
  display: flex;
  flex: 1;
  min-height: 340px;
  gap: 2em;
}
.home-page .content .overview-layer-1 .national-snapshot {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  gap: 0.5em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content {
  display: flex;
  flex: 1;
  gap: 1em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
  padding: 0em 0.5em;
  color: #FFFFFF;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .icon-and-text {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 1em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .icon-and-text img {
  width: 45px;
  height: 45px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .icon-and-text .total-icon {
  display: flex;
  align-self: center;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .icon-and-text .total-text {
  font-family: "Inter Bold";
  font-size: 3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .academic-year {
  display: flex;
  width: 300px;
  background: linear-gradient(to right, #005599, #2FA6FA);
  border-radius: 0.5em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .academic-year .year-marker {
  background-color: #FFFFFF;
  border-radius: 0.5em;
  width: 6px;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .academic-year .year-text {
  display: flex;
  font-size: 12px;
  padding: 0.25em 1em 0.25em 1em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-main-detail .ns-card-1 .desc-text {
  font-family: "Inter Bold";
  font-size: 18px;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #04508c;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .glevel-count {
  display: flex;
  justify-content: space-between;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker {
  display: flex;
  align-self: center;
  border-radius: 0.5em;
  width: 10px;
  height: 30px;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker.es {
  background-color: #037DEE;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker.jhs {
  background-color: #FE4761;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker.shs {
  background-color: #FFBF5F;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .glevel-count .count-text {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Bold";
  font-size: 2.3em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .full-count-text {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Medium Italic";
  font-size: 9px;
  color: #3C6382;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-details .ns-sub-detail .ns-indicator .ns-sub-cards .desc-text {
  color: #3C6382;
  font-family: "Inter Semi Bold";
  font-size: 15px;
  padding-top: 1.5em;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-graph {
  display: flex;
  flex: 1.3;
}
.home-page .content .overview-layer-1 .national-snapshot .ns-content .ns-graph .ns-graph-title {
  color: #3C6382;
  padding: 0.5em;
}
.home-page .content .overview-layer-2 {
  display: flex;
  flex: 1;
  min-height: 400px;
  gap: 2em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-graph {
  display: flex;
  flex: 2.75;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-graph .gld-graph-title {
  color: #3C6382;
  padding: 0.1em;
  text-align: center;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  color: #3C6382;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-pop-title {
  text-align: center;
  font-size: 0.9em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-grade {
  font-family: "Inter Bold";
  text-align: center;
  font-size: 1.25em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-student-count {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  border-radius: 0.5em;
  color: #FFFFFF;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-student-count.most {
  background-color: #E11C38;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-student-count.least {
  background-color: #037DEE;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-student-count .gld-count {
  font-family: "Inter Bold";
  text-align: center;
  font-size: 1em;
}
.home-page .content .overview-layer-2 .grade-level-dynamics .gld-content .gld-info-cards .gld-info .gld-populated .gld-student-count .gld-student-text {
  font-family: "Inter Medium Italic";
  text-align: center;
  font-size: 0.7em;
}
.home-page .content .overview-layer-2 .learner-profiles {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  gap: 0.5em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content {
  display: flex;
  flex: 1;
  gap: 1em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  gap: 1em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph {
  display: flex;
  flex: 1.35;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc {
  display: flex;
  flex: 1;
  color: #3C6382;
  gap: 1em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-dist-graph {
  display: flex;
  flex: 1.6;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc span {
  font-size: 17px;
  font-family: "Inter Bold";
  color: #667889;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .gap-percentage {
  display: flex;
  gap: 0.25em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .gap-percentage .up-icon {
  display: flex;
  align-self: center;
  width: 20px;
  height: 20px;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .gap-percentage .percentage {
  font-size: 29px;
  font-family: "Inter Extra Bold";
  color: #037DEE;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .greater-div {
  display: flex;
  gap: 0.25em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .greater-div .greater {
  display: flex;
  padding: 0.05em 0.3em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .greater-div .greater.male-dominant {
  color: #FFFFFF;
  background-color: #5DB7FF;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .greater-div .greater.female-dominant {
  color: #FFFFFF;
  background-color: #FF5B72;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .lesser-div {
  display: flex;
  gap: 0.25em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .lesser-div .lesser {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .lesser-div .lesser.male-less-dominant {
  color: #5DB7FF;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-graph .lp-graph-desc .lp-desc .lesser-div .lesser.female-less-dominant {
  color: #FF5B72;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #3C6382;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .gender-count {
  display: flex;
  justify-content: space-between;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .gender-count .gender-marker {
  display: flex;
  align-self: center;
  border-radius: 0.5em;
  width: 10px;
  height: 30px;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .gender-count .gender-marker.female {
  background-color: #FF5B72;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .gender-count .gender-marker.male {
  background-color: #5DB7FF;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .gender-count .count-text {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Bold";
  font-size: 2.3em;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .full-count-text {
  display: flex;
  justify-content: end;
  font-family: "Inter Medium Italic";
  font-size: 9px;
  color: #3C6382;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .desc-n-icon {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1.5em;
  overflow: visible;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .desc-n-icon img {
  width: 40px;
  height: 50px;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .desc-n-icon .desc-text {
  color: #3C6382;
  font-family: "Inter Semi Bold";
  font-size: 15px;
  text-align: start;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .desc-n-icon .desc-text.female {
  color: #FF5B72;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-1 .lp-info-cards .lp-indicator .lp-sub-cards .desc-n-icon .desc-text.male {
  color: #5DB7FF;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-2 {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-2 .lp-tracks-strands {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #3C6382;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-2 .lp-tracks-strands .lp-upper {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-2 .lp-tracks-strands .lp-lower {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home-page .content .overview-layer-2 .learner-profiles .lp-content .lp-graph-2 .lp-tracks-strands .lp-lower .lp-strand-break {
  font-family: "Inter Italic";
}
.home-page .content .overview-layer-3 {
  display: flex;
  flex: 1;
  min-height: 400px;
}
.home-page .content .overview-layer-3 .school-system-composition {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content {
  display: flex;
  flex: 1;
  gap: 1em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 0em 0.5em;
  color: #FFFFFF;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail .ssc-icon-and-text {
  display: flex;
  justify-content: flex-end;
  gap: 0.75em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail .ssc-icon-and-text img {
  width: 45px;
  height: 45px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail .ssc-icon-and-text .total-school-icon {
  display: flex;
  align-self: center;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail .ssc-icon-and-text .total-school-text {
  font-family: "Inter Bold";
  font-size: 3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail .ssc-indicator {
  display: flex;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-info .ssc-school-detail .ssc-indicator .ssc-desc-text {
  font-family: "Inter Bold";
  font-size: 18px;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-table {
  display: flex;
  flex: 2;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-1 .ssc-table .ssc-table-header {
  display: none;
  flex: 1;
  justify-content: space-between;
  padding: 0em 6em 0em 1em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-2 {
  display: flex;
  flex: 1;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-2 .sector-graph-title {
  color: #3C6382;
  text-align: start;
  padding: 0.25em 0.5em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 {
  display: flex;
  flex: 1.3;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .offering-graph-title {
  color: #3C6382;
  text-align: start;
  padding: 0.25em 0.5em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph {
  display: flex;
  flex: 1;
  gap: 0.75em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-percentage {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-percentage .shs-percent-text {
  color: #FFFFFF;
  background-color: #FFBF5F;
  font-size: 2.5em;
  font-family: "Inter Bold";
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-percentage .shs-desc-text {
  color: #3C6382;
  font-size: 1em;
  font-family: "Inter Bold";
  text-align: center;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
  border: 1px solid #ADDBFF;
  border-radius: 0.5em;
  gap: 4px;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label {
  display: flex;
  flex: 1;
  gap: 8px;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color {
  display: flex;
  align-self: center;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.es {
  background-color: #037DEE;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.jhs {
  background-color: #FE4761;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.shs {
  background-color: #FFBF5F;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.purees {
  background-color: #002242;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.purejhs {
  background-color: #004386;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.pureshs {
  background-color: #0162C2;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.esjhs {
  background-color: #1E90FF;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.jhsshs {
  background-color: #5AB6FF;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-color.alloffer {
  background-color: #E2F2FF;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .percent-legend-container .program-offering-legend .legend-label .legend-text {
  align-self: center;
  font-size: 10px;
  color: #667889;
}
.home-page .content .overview-layer-3 .school-system-composition .ssc-content .ssc-content-3 .ssc-container .program-offering-graph .home_program_offering {
  display: flex;
  flex: 1.5;
}/*# sourceMappingURL=home.css.map */