@import '../../fonts/stylesheet.css';
#plot-content.rendered .plotted-location-report {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#plot-content.rendered .plotted-location-report .plot-sec-wrap {
  display: flex;
  flex-direction: column;
}
#plot-content.rendered .plotted-location-report .plot-sec-wrap .label {
  padding-bottom: 0.5em;
  color: #3C6382;
}
#plot-content.rendered .plotted-location-report .plot-sec-wrap .plot-content {
  flex: 1;
  display: flex;
}
#plot-content.rendered .plotted-location-report .plot-sec-wrap .plot-content .plttt {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#plot-content.rendered .plotted-location-report .revlov-top {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-a-section {
  order: 2;
  flex: 3;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .edrg-graph-title {
  color: #3C6382;
  padding: 0.5em;
  text-align: center;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section {
  flex: 1;
  order: 1;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .plot-b-box1 {
  order: 2;
  flex: 3;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .hle-graph-title {
  color: #3C6382;
  text-align: center;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail {
  order: 1;
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.5em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 {
  display: flex;
  flex: 1;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #FFFFFF;
  font-family: "Inter Bold";
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .total_label {
  display: flex;
  justify-content: space-between;
  overflow: visible;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .total_label .label_total_enrollees, #plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .total_label .label_total_schools {
  color: #FFFFFF;
  font-family: "Inter Bold";
  font-size: 15px;
  padding-top: 1.5em;
  width: 10px;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .total_label img {
  width: 40px;
  height: 50px;
  padding: 0px;
  align-self: flex-end;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .glevel-count {
  display: flex;
  justify-content: space-between;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .glevel-count .glevel-marker {
  display: flex;
  align-self: center;
  border-radius: 0.5em;
  width: 10px;
  height: 30px;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .glevel-count .glevel-marker.enrollees {
  background-color: #04508c;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .glevel-count .glevel-marker.schools {
  background-color: #04508c;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .glevel-count .truncated_total_enrollees {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Bold";
  font-size: 2.3em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .raw_total_enrollees {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Medium Italic";
  font-size: 12px;
  color: #FFFFFF;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-top-section .track-box .plot-b-section .ns-sub-detail .plot-b-box2 .total_enrollees .raw_total_schools {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Medium Italic";
  font-size: 12px;
  color: #FFFFFF;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-bottom-section {
  flex: 5;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-left-section .plot-bottom-section .spr-graph-title {
  color: #3C6382;
  text-align: center;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-right-section .plot-top-section {
  flex: 2;
}
#plot-content.rendered .plotted-location-report .revlov-top .plot-right-section .plot-bottom-section {
  flex: 2;
}
#plot-content.rendered .plotted-location-report .revlov-bot {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#plot-content.rendered .plotted-location-report .revlov-bot .rev-left {
  flex: 1;
  display: flex;
}
#plot-content.rendered .plotted-location-report .revlov-bot .rev-left .plot-top-section {
  flex: 1;
}
#plot-content.rendered .plotted-location-report .revlov-bot .rev-right {
  flex: 1;
}
#plot-content.rendered .plotted-location-report .revlov-bot .rev-right .plot-bottom-section {
  flex: 5;
}
#plot-content.rendered .plotted-location-report .revlov-bot .rev-right .plot-bottom-section .spr-graph-title {
  color: #3C6382;
  text-align: center;
}
#plot-content.rendered .plotted-location-reporttt {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .plt {
  flex: 1;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .mainnnn {
  flex: 2;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
  padding: 0em 0.5em;
  color: #FFFFFF;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .icon-and-text {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 1em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .icon-and-text img {
  width: 45px;
  height: 45px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .icon-and-text .total-icon {
  display: flex;
  align-self: center;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .icon-and-text .total-text {
  font-family: "Inter Bold";
  font-size: 2.3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .academic-year {
  display: flex;
  width: 300px;
  background: linear-gradient(to right, #005599, #2FA6FA);
  border-radius: 0.5em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .academic-year .year-marker {
  background-color: #FFFFFF;
  border-radius: 0.5em;
  width: 6px;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .academic-year .year-text {
  display: flex;
  font-size: 12px;
  padding: 0.25em 1em 0.25em 1em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-card-1 .desc-text {
  font-family: "Inter Bold";
  font-size: 14px;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator {
  display: flex;
  flex: 1;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #04508c;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .glevel-count {
  display: flex;
  justify-content: space-between;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker {
  display: flex;
  align-self: center;
  border-radius: 0.5em;
  width: 10px;
  height: 30px;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker.es {
  background-color: #037DEE;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker.jhs {
  background-color: #FE4761;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .glevel-count .glevel-marker.shs {
  background-color: #FFBF5F;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .glevel-count .count-text {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Bold";
  font-size: 2.3em;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .full-count-text {
  display: flex;
  justify-content: flex-end;
  font-family: "Inter Medium Italic";
  font-size: 9px;
  color: #3C6382;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards .desc-text {
  color: #3C6382;
  font-family: "Inter";
  font-size: 12px;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards #high-tag-loc, #plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-main-detail .ns-indicator .ns-sub-cards #low-tag-loc {
  font-family: "Inter Semi Bold";
  font-weight: bolder;
  padding-top: 1em;
  font-size: 16px;
}
#plot-content.rendered .plotted-location-reporttt .plot-left-section .ns-details .ns-sub-detail {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-location-reporttt .plot-right-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1em;
}
#plot-content.rendered .plotted-location-reporttt .plot-right-section .plot-top-section {
  flex: 2;
}
#plot-content.rendered .plotted-location-reporttt .plot-right-section .plot-bottom-section {
  flex: 2;
}
#plot-content.rendered #edrg-graph-title {
  color: #667889;
  font-size: 1.25em;
}/*# sourceMappingURL=location.css.map */