@import '../../fonts/stylesheet.css';
#plot-content.rendered .plotted-subclass-report {
  width: 100%;
  height: 100%;
  display: flex;
}
#plot-content.rendered .plotted-subclass-report .subclass-content {
  display: flex;
  flex: 1;
  gap: 1em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-graph-title {
  color: #3C6382;
  padding: 0.5em;
  text-align: center;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-graph {
  display: flex;
  flex: 1;
  min-height: 300px;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-enroll-ind {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-self: stretch;
  box-sizing: border-box;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-enroll-ind .sei-label {
  display: flex;
  justify-content: center;
  font-family: "Inter Semi Bold";
  font-size: 0.5em;
  color: #3C6382;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-enroll-ind .sei-count {
  display: flex;
  justify-content: center;
  font-family: "Inter Bold";
  font-size: 0.8em;
  color: #3C6382;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-enroll-ind .sei-text {
  display: flex;
  justify-content: center;
  font-family: "Inter Medium Italic";
  font-size: 0.5em;
  color: #9DADBD;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-col1 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-col1 .subclass-enroll-scatter {
  display: flex;
  flex: 4.25;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-col1 .subclass-row {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-col1 .subclass-row .subclass-enroll-ind {
  display: flex;
  flex: 1;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-col2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-left-content .subclass-enroll-middle .subclass-col2 .subclass-enroll-ind {
  display: flex;
  flex: 1;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-dist-avail {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-dist-avail .subclass-dist-avail-graph {
  display: flex;
  flex: 1;
  min-height: 300px;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-dist-avail .subclass-dist-avail-lower {
  display: flex;
  flex: 1;
  gap: 0.5em;
  min-height: 300px;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-dist-avail .subclass-dist-avail-lower .subclass-dist-avail-graph-1 {
  display: flex;
  flex: 1;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-dist-avail .subclass-dist-avail-lower .subclass-dist-avail-graph-2 {
  display: flex;
  flex: 1.5;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-program {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-program .subclass-program-contents {
  display: flex;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-program .subclass-program-contents .subclass-program-graph-left {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-program .subclass-program-contents .subclass-program-graph-left .subclass-program-graph {
  display: flex;
  flex: 1;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-program .subclass-program-contents .subclass-program-last-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
}
#plot-content.rendered .plotted-subclass-report .subclass-content .subclass-right-content .subclass-program .subclass-program-contents .subclass-program-last-cards .subclass-program-indicator {
  display: flex;
  flex: 1;
}/*# sourceMappingURL=subclass.css.map */