// Import default styles
@import "../variables";
@import '../../fonts/stylesheet.css';


#plot-content.rendered{
    .plotted-location-report{
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        // GENERAL DESIGN FOR SECTION
        .plot-sec-wrap{
            display: flex;
            flex-direction: column;

            .label{
                padding-bottom: 0.5em;
                color: $text-color-1;
            }
            .plot-content{
                flex: 1;
                display: flex;

                .plttt{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        // PLOT CONTENT
        .revlov-top{
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .plot-left-section{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1em;
    
                .plot-top-section{
                    flex: 1;
    
                    display: flex;
                    flex-direction: column;
                    
                    .track-box{
                        flex: 1;
                
                        display: flex;
                        flex-direction: row;
                        gap: 1em;
    
                        .plot-a-section{
                            order: 2;
                            flex: 3;
                        }
    
                        .edrg-graph-title {
                            color: $text-color-1;
                            padding: 0.50em;
                            text-align: center;
                        }
                        .plot-b-section{
                            flex: 1;
                            order: 1;
                            min-height: 10%;
                            display: flex;
                            flex-direction: row;
                            gap: 1em;
    
                            .plot-b-box1{
                                order: 2;
                                flex: 3;
                                padding-top: 0.5em;
                                display: flex;
                                flex-direction: column;
                            }
    
                            .hle-graph-title {
                                color: $text-color-1;
                                text-align: center;
                            }
    
                            .ns-sub-detail {
                                order: 1;
                                display: flex;
                                flex: 2;
                                flex-direction: column; // add this line
                                gap: 0.5em;
                              
                                .plot-b-box2 {
                                    display: flex;
                                    flex: 1;
                              
                                .total_enrollees {
                                    display: flex;  
                                    flex-direction: column;
                                    flex: 1;
                                    color: $white;
                                    font-family: "Inter Bold";
                                    font-weight: bold;
                                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    
    
                                    .total_label{
                                        display: flex;
                                        justify-content: space-between;
                                        //flex: 1;
                                        overflow: visible;
    
                                        .label_total_enrollees, .label_total_schools {
                                            color: $white;
                                            font-family: "Inter Bold";
                                            font-size: 15px;
                                            padding-top: 1.5em;
                                            width: 10px;
                                            
                                          }
    
                                        img {
                                            width: 40px;
                                            height: 50px;
                                            padding: 0px;
                                            align-self: flex-end;
                                        }
                                    }
                                    
                                    
                                    
                                    .glevel-count {
                                      display: flex;
                                      justify-content: space-between;
                                    
                              
                                      .glevel-marker {
                                        display: flex;
                                        align-self: center;
                                        border-radius: 0.5em;
                                        width: 10px;
                                        height: 30px;
                              
                                        &.enrollees { background-color: #04508c; } // Custom color for enrollees
                                        &.schools { background-color: #04508c; } // Custom color for schools
                                        
                                      }
                              
                                      .truncated_total_enrollees {
                                        display: flex;
                                        justify-content: flex-end;
                                        font-family: "Inter Bold";
                                        font-size: 2.3em;
                                      }
                                    }
                                    
                                    .raw_total_enrollees {
                                        display: flex;
                                        justify-content: flex-end;
                                        font-family: "Inter Medium Italic";
                                        font-size: 12px;
                                        color: $white;
                                      }
    
                                    .raw_total_schools {
                                        display: flex;
                                        justify-content: flex-end;
                                        font-family: "Inter Medium Italic";
                                        font-size: 12px;
                                        color: $white;
                                      }
    
                                  }
                                }
                              }
                              
                            
                        }
                    }
                }
    
                .plot-bottom-section{
                    flex: 5;
    
                    .spr-graph-title {
                        color: $text-color-1;
                        text-align: center;
                    }
                }
            }
            
            .plot-right-section{
                flex: 1;
    
                display: flex;
                flex-direction: column;
                gap: 1em;
    
                .plot-top-section{  
                    flex: 2;
                }
    
                .plot-bottom-section{
                    flex: 2;
                }
            }
        }

        .revlov-bot{
            display: flex;
            flex-direction: row;
            gap: 1em;

            .rev-left{
                flex: 1;
                display: flex;

                .plot-top-section{
                    flex: 1;
                }
            }

            .rev-right{
                flex: 1;

                .plot-bottom-section{
                    flex: 5;
    
                    .spr-graph-title {
                        color: $text-color-1;
                        text-align: center;
                    }
                }
            }

        }
    }


    .plotted-location-reporttt{
        flex: 1;
        display: flex;
        flex-direction: row;

        .plot-left-section{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .plt{
                flex: 1;
            }
        }


        .plot-right-section{
            flex: 1;

            display: flex;
            flex-direction: column;
            gap: 1em;

            .plot-top-section{  
                flex: 2;
            }

            .plot-bottom-section{
                flex: 2;
            }
        }
    }

    #edrg-graph-title{
        color: $text-color-2;
        font-size: 1.25em;
    }
}