// Import default styles
@import "../variables";
@import '../../fonts/stylesheet.css';


#plot-content.rendered{
    .plotted-seniorhigh-report {
        width: 100%;
        height: 100%;
        display: flex;

        .shs-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 2em;

            h3 {
                color: $text-color-1;
            }
            
            .shs-layer-1 {
                display: flex;
                flex: 1;
                min-height: 420px;
                gap: 2em;

                .shs-enrollment {
                    display: flex;
                    flex-direction: column;
                    flex: 1.5;
                    gap: 0.5em;

                    .shs-enrollment-content {
                        display: flex;
                        flex: 1;
                        gap: 1em;

                        .shs-enrollment-left {
                            display: flex;
                            flex: 1;
                            flex-direction: column;
                            gap: 1em;

                            .shs-enrollment-dist-graph {
                                display: flex;
                                flex: 1.25;

                                .shs-track-dist-title {
                                    color: $text-color-1;
                                    padding: 0.5em;
                                }
                                
                                #seniorhigh_distri_per_track {
                                    display: flex;
                                    flex: 1;
                                }
                            }

                            .shs-enrollment-donut {
                                display: flex;
                                flex: 1;

                                .shs-donut-container {
                                    display: flex;
                                    flex: 1;
                                    gap: 1em;

                                    #seniorhigh_ratio_enrollment {
                                        display: flex;
                                        flex: 1.5;
                                        overflow: hidden;
                                    }
    
                                    .seniorhigh_ratio_enrollment_ind {
                                        display: flex;
                                        flex: 1;
                                        flex-direction: column;
                                        justify-content: space-around;

                                        .shs-academic {
                                            display: flex;
                                            flex: 1;
                                            flex-direction: column;
                                            gap: 0.5em;
                                        }                                

                                        .shs-non-academic {
                                            display: flex;
                                            flex: 1;
                                            flex-direction: column;
                                            gap: 0.5em;
                                        }

                                        .shs-acad-title {
                                            text-align: center;
                                            font-size: 0.9em;
                                        }

                                        .shs-count-text {
                                            font-family: "Inter Bold";
                                            text-align: center;
                                            font-size: 1.25em;
                                        }

                                        .shs-percentage-text {
                                            text-align: center;
                                            font-size: 0.9em;
                                        }

                                        .shs-container {
                                            display: flex;
                                            flex-direction: column;
                                            padding: 0.25em;
                                            border-radius: 0.5em;
                                            color: $white;

                                            &.upper { background-color: $primary-color-2; }
                                            &.lower { background-color: $secondary-color-2; }
                                        }
                                    }
                                }
                                
                            }

                        }

                        .shs-enrollment-right {
                            display: flex;
                            flex: 1.5;

                            .shs-gender-dist-title {
                                color: $text-color-1;
                                padding: 0.5em;
                            }

                            .shs-right-content {
                                display: flex;
                                flex: 1;
                                gap: 1em;

                                #seniorhigh_gender_distri {
                                    display: flex;
                                    flex: 2;
                                }

                                .shs-population {
                                    display: flex;
                                    flex: 1;
                                    flex-direction: column;

                                    .shs-population-container {
                                        display: flex;
                                        flex: 1;
                                        flex-direction: column;
                                    }

                                    .mps-pop-title {
                                        text-align: center;
                                        font-size: 0.9em;
                                    }

                                    .mps-strand {
                                        font-family: "Inter Bold";
                                        text-align: center;
                                        font-size: 1.25em;
                                    }

                                    .mps-student-count {
                                        display: flex;
                                        flex-direction: column;
                                        padding: 0.25em;
                                        border-radius: 0.5em;
                                        color: $white;
                                    
                                        &.most { background-color: $secondary-color-2; }
                                        &.least { background-color: $primary-color-2; }

                                    .mps-count {
                                        font-family: "Inter Bold";
                                        text-align: center;
                                        font-size: 1em;
                                    }

                                    .mps-student-text {
                                        font-family: "Inter Medium Italic";
                                        text-align: center;
                                        font-size: 0.7em;
                                    }
                                    }


                                }
                                
                                #seniorhigh_most_least_enrolled {
                                    display: flex;
                                    flex: 1;
                                }
                            }
                        }
                    }
                }
            }

            .shs-layer-2 {
                display: flex;
                min-height: 360px;
                gap: 2em;

                .shs-track-avail {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 0.5em;

                    .shs-track-avail-content {
                        display: flex;
                        flex: 1;
                        gap: 1em;
                        
                        .shs-track-avail-graph {
                            display: flex;
                            flex: 1;

                            .shs-school-track-title, .shs-high-demand-title {
                                color: $text-color-1;
                                padding: 0.5em;
                            }

                            #seniorhigh_school_offering_per_track_by_sector {
                                display: flex;
                                flex: 1;
                            }

                            #seniorhigh_least_offered_high_demand {
                                display: flex;
                                flex: 1;
                            }
                        }
                    }
                }
            }

            .shs-layer-3 {
                display: flex;
                flex: 1;
                min-height: 420px;
                gap: 2em;

                .shs-region-sector {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 0.5em;

                    .shs-region-sector-content {
                        display: flex;
                        flex: 1;
                        gap: 1em;

                        .shs-region-sector-graph {
                            display: flex;

                            &.sector-1 { flex:1.6; }
                            &.sector-2 { flex:1; flex-direction: column; gap: 1em;}

                            .shs-region-sector-upper {
                                display: flex;
                                flex: 1;
                            }

                            .shs-region-sector-lower {
                                display: flex;
                                flex: 1;
                            }

                            .shs-offers-title, .shs-prevalent-title, .shs-range-title {
                                color: $text-color-1;
                                padding: 0.5em;
                            }
    
                            #seniorhigh_shs_offers {
                                display: flex;
                                flex: 1;
                            }
    
                            #seniorhigh_prevalent_tracks {
                                display: flex;
                                flex: 1;
                            }
    
                            #seniorhigh_offer_range {
                                display: flex;
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}