// Import default styles
@import "../variables";
@import '../../fonts/stylesheet.css';


#plot-content.rendered{
    .plotted-subclass-report {
        width: 100%;
        height: 100%;
        display: flex;
    
        .subclass-content {
            display: flex;            
            flex: 1;
            gap: 1em;

            .subclass-graph-title {
                color: $text-color-1;
                padding: 0.50em;
                text-align: center;
            }

            .subclass-left-content {
                display: flex;
                flex-direction: column;
                flex: 1;
                flex: 1;
                gap: 0.5em;

                .subclass-enroll-graph {
                    display: flex;
                    flex: 1;
                    min-height: 300px;
                }
/*
                .subclass-carousel-container{
                    $card-width: 40px;
                    $card-gap: 1px;
                    $visible-cards: 3;
                    $total-cards: 9;
                    width: calc(#{$card-width} * #{$visible-cards} + #{$card-gap} * (#{$visible-cards} - 1));
                    overflow: hidden;
                    margin: 0 auto;
                    position: relative;
                    
                    .carousel-track {
                        display: flex;
                        gap: $card-gap;
                        width: calc(#{$card-width} * #{$total-cards} + #{$card-gap} * (#{$total-cards} - 1));
                        transition: transform 0.3s ease;
                    }

                    .subclass-enroll-ind {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        box-sizing: border-box;
                        flex: 0 0 $card-width;
                        will-change: transform;
                        padding: 1px;

                        .sei-label {
                            display: flex;
                            justify-content: center;
                            font-family: "Inter Semi Bold";
                            font-size: 0.5em;
                            color: $text-color-1;
                        }

                        .sei-count {
                            display: flex;
                            justify-content: center;
                            font-family: "Inter Bold";
                            font-size: 0.8em;
                            color: $text-color-1;
                        }

                        .sei-text {
                            display: flex;
                            justify-content: center;
                            font-family: "Inter Medium Italic";
                            font-size: 0.5em;
                            color: $text-color-3;
                        }
                    }
                    // Carousel navigation buttons
                    .carousel-button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(255, 255, 255, 0.8);
                        border: none;
                        cursor: pointer;
                        z-index: 10;
                        &.prev {
                            left: 10px;
                        }
                        &.next {
                            right: 10px;
                        }
                    }
                }*/
            }
    
            .subclass-right-content {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 1em;

                .subclass-dist-avail {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 0.5em;

                    .subclass-dist-avail-graph {
                        display: flex;
                        flex: 1;
                        min-height: 300px;
                    }

                    .subclass-dist-avail-lower {
                        display: flex;
                        flex: 1;
                        gap: 0.5em;
                        min-height: 300px;
                        
                        .subclass-dist-avail-graph-1 {
                            display: flex;
                            flex: 1;
                        }

                        .subclass-dist-avail-graph-2 {
                            display: flex;
                            flex: 1;
                        }
                    }
                }

                .subclass-program {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 0.5em;

                    .subclass-program-contents {
                        display: flex;
                        flex: 1;
                        gap: 0.5em;

                        .subclass-program-graph-left {
                            display: flex;
                            flex-direction: column;
                            flex: 3;
                            gap: 0.5em;
                            
                            .subclass-program-graph {
                                display: flex;
                                flex: 1;
                                min-height: 300px;
                            }
                        }
                        // .subclass-program-last-cards {
                        //     display: flex;
                        //     flex-direction: column;
                        //     flex: 1;
                        //     gap: 0.5em;

                        .subclass-enroll-ind {
                            display: flex;
                            flex: 1; 
                            flex-direction: column;
                            justify-self: stretch;
                            box-sizing: border-box;

                            .subclass-percentage {
                                display: flex;
                                justify-content: center;
                                font-family: "Inter Semi Bold";
                                font-size: 0.75em;
                                color: $text-color-3;
                            }

                            .subclass-percentage-value {
                                display: flex;
                                justify-content: center;
                                font-family: "Inter Bold";
                                font-size: 1em;
                                color: $text-color-3;
                            }

                            // .sub-text {
                            //     display: flex;
                            //     justify-content: center;
                            //     font-family: "Inter Medium Italic";
                            //     font-size: 0.6em;
                            //     color: $text-color-3;
                            // }
                        }
                    }
                }
            }
        }   
    }
}